<div class='container px-5 px-sm-0'>
  <div class='row'>
    <%= render 'public/users/info', user: @post.user %>
    <%= render 'show', post: @post, comment: @comment, post_tags: @post_tags %>
  </div>
</div>