<div class="container mb-2">
  <% if user_signed_in? %>
    <%= form_with url: searches_search_path, method: "get", local: true, html: { class: "form-inline" } do |f| %>
      <%= f.select :model, options_for_select({ '商品' => 'item', 'タグ' => 'tag' }), {}, class: "form-control mr-2" %>
      <%= f.text_field :keyword, class: "form-control mr-2", placeholder: "キーワードを入力" %>
      <%= button_tag(type: 'submit', class: "btn btn-secondary") do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  <% end %>
</div>