<h3>Users search for "<%= @keyword %>"</h3>
<% if @results.present? %>
  <%= render 'public/items/index', items: @results %>
<% elsif @posts.present? %>
  <%= render partial: "public/posts/show", collection: @posts, as: :post, locals: { comment: @comment } %>
<% end %>
