<body class="top-page">
  <div class="top-image-container">
    <img src="assets/images/pf/top.jpg" alt="top" class="background-image">
    <div class="text-overlay navbar-brand">Fragrance Palette</div>
  </div>
</body>