<body>
  <div class="top-page">
    <div class="top-image-container">
      <img src="assets/pf/top.jpg" alt="top" class="background-image">
      <div class="text-overlay navbar-brand">Fragrance Palette</div>
      <div class="text-overlay-subtitle">香りが広がる、色彩の宇宙</div>
      <div class="text-overlay-subtitle">あなたの五感を彩る、色と香りのハーモニーを探求しましょう</div>
    </div>
  </div>
</body>