<body class="top-page">
  <div class="top-image-container">
    <img src="<%= asset_path('top-color.jpg') %>" alt="top" class="background-image">
    <div class="text-overlay navbar-brand">Fragrance Palette</div>
  </div>
  <div class="container">
    <div class="row pt-5">
      <div class="col">
        <h2 class="mb-4">
          <span>色彩と香りが紡ぐ</span><br>
          <span>感覚の世界へ。</span>
        </h2>
        <p>香りを色で感じる新しい体験をお届けします。</p>
      </div>
    </div>
  </div>
</body>