
.img-container {
  width: 360px;
  height: 260px;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// レビューshowの画像サイズ
.img-show {
  width: 260px;
  height: 160px;
}
.img-show img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.color_circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

// レビュー一覧
.color_index {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

// レビュー詳細
.color_show {
  width: 80%;
  height: 50px;
}

// コメント機能
.rounded-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0.5px solid #ccc;
}
.comment-container {
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
}
.comment-container p {
  margin: 0;
}
.user-info p {
  margin-bottom: 1px;
}
.profile-image {
  margin-right: 4px;
}
.date-info p {
  font-size: small;
}