header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; /* ヘッダーを最前面に配置するために必要な設定 */
}

main {
  margin-top: 80px;
}

.img-container {
  width: 360px;
  height: 260px;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// レビューshowの画像サイズ
.img-show {
  width: 260px;
  height: 160px;
}
.img-show img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.color_circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

// レビュー一覧
.color_index {
  width: 100%;
  height: 40px;
}
.img_index {
  width: 100%;
  height: 100px;
}
.img_index img {
  height: 100%;
  object-fit: cover;
}
.post_index p {
  font-size: small;
}
.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0.5px solid #ccc;
}

// レビュー詳細
.color_show {
  width: 80%;
  height: 50px;
}

// コメント機能
.rounded-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0.5px solid #ccc;
}
.comment-container {
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
}
.comment-container p {
  margin: 0;
}
.user-info p {
  margin-bottom: 1px;
}
.profile-image {
  margin-right: 4px;
}
.date-info p {
  font-size: small;
}