<div class='container'>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= form_with model:@user, local:true do |f| %>
        <%= render "form", f: f %>
        <div class="form-row mt-4">
          <%= f.submit "編集内容を保存", class: 'btn btn-secondary btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 col-lg-3 order-1 order-md-0 mt-4">
      <%= link_to "退会する", user_comfirm_path(@user), class: "btn btn-danger btn-sm btn-block" %>
    </div>
  </div>
</div>
