<div class='container px-5 px-sm-0'>
  <div class='row'>
    <%= render 'info', user: @user %>
    <div class='col-md-8 offset-md-1'>
      <h2>Posts</h2>
      <%= render 'show', post: @post %>
    </div>
  </div>
</div>