<div class="container">
  <div class="row justify-content-center text-new">
    <h1>ITEM</h1>
  </div>
  <div class="row justify-content-center mb-2">
    <div class="col-2">
      <hr style="border-top: 5px solid orange;">
    </div>
  </div>
  <div class="row">
    <%= render "public/items/index", items: @items %>
  </div>
</div>