<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
      <%= link_to admin_session_path, class: "inline" do %>
        <span>&copy;</span> 
      <% end %>
      <p style="display: inline-block;">Copyright 2024 Fragrance Palette. All rights reserved.</p>
    </div>
  </div>
</div>
